body {
	background-color: #eee;
	margin: 0;
}

.header {
	background: #fff;
	/*border-bottom: 1px solid black;*/
	box-shadow: 0 2px 2px #888;
	font-size: 2.5em;
	padding: 0.1em;
	position: fixed;
	top: 0;
	width: 100%;
}

.header > div {
	display: inline-block;
	width: 24%;
}

.header .summary {
	font-size: 0.8em;
	text-align: center;
}

.content {
	margin-top: 4.5em;
}

.title {
	text-align:left;
}

.failed {
	background: #eebbbb;
}

.degraded {
	background: #eeb000;
}

.up {
	background: #bbeebb;
}

.timestamp .tsTooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.timestamp:hover .tsTooltip{
	visibility: visible;
}

.summary > div {
	display:inline-block;
	width: 18%;
}

.content> .applications> .application {
	background-color:#fff;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888;
	margin: 1em;
	padding-bottom: 1em;
}

.content> .applications> .application> .summary {
	font-size: 1.3em;
	margin: 0.2em;
}

.content> .applications> .application> .summary> .title {
	font-size: 2em;
	margin: 0.2em;
}

.content> .applications> .application> .services> .service {
	border:1px solid #888;
	box-shadow: 2px 2px 2px #888;
	margin:1em;
}

.content> .applications> .application> .services> .service> .summary {
	cursor:hand;
	font-size:1.3em;
	padding:0.4em;
}

.content> .applications> .application> .services> .service> .instances {
	display:table;
	border-collapse:collapse;
	margin:1em;
	padding:0.4em;
}

.content> .applications> .application> .services> .service> .instances> .instance {
	display:table-row-group;
	vertical-align: middle;
	border: 1px solid;
	box-shadow: 2px 2px 2px #888;
}

.content> .applications> .application> .services> .service> .instances> .instance> .summary {
	display:table-row;
}

.content> .applications> .application> .services> .service> .instances> .instance> .summary> div {
	display:table-cell;
	padding:0.5em;
	border: 1px solid #888;
}
